body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./img/header.png);
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.logo{
    width: 250px;
}

nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(21, 21, 21);
}

.btn-izq{
    width: 100px;
    height: 60px;
    border-style: none;
    border-radius: 5px;
    margin-left: 20px;
    background-color: rgb(21, 21, 21);
    color: rgb(140, 140, 140);
    font-size: 0.7em;
}

.btn-izq:hover{
    transition: 0.3s;
    cursor: pointer;
    color: rgb(244, 244, 244);
}

.btn-der{
    width: 120px;
    height: 60px;
    border-style: none;
    background-color: #6C19FF;
    color: rgb(240, 240, 240);
    font-size: 0.7em;
}

.btn-der:hover{
    transition: 0.3s;
    cursor: pointer;
}

main{
    width: 100%;
    height: 800px;
    background-color: rgb(13, 13, 13);
    display: grid;
    justify-content: center;
    transition: 1s;
}

.titulos{
    color: #6C19FF;
}

.sect-asid{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(13, 13, 13);
    transition: 1s;
    
}

.article-1{
    width: 64vw;
    height: 380px;
    background-color: rgb(30, 30, 35);
    border-radius: 10px;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.img-art1{
    width: 35%;
    height: 90%;
    background-color: aliceblue;
    border-radius: 5px;
    background-image: url(./img/9.png);
    background-size: 100%;
    background-position: center;
    background-size: cover;
}

.txt-art1{
    width: 60%;
    height: 90%;
    text-align: center;
    color: rgb(100, 100, 100);
    align-items: center;
}

aside{
    width: 30vw;
    height: 380px;
    background-color: rgb(30, 30, 35);
    border-radius: 10px;
    transition: 1s;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 10px;
}

.article-2{
    width: 95vw;
    height: 380px;
    background-color: rgb(30, 30, 35);
    border-radius: 10px;
    transition: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-art2{
    width: 32%;
    height: 95%;
    margin: 0 auto;
    display: block;
}

.img-art2{
    width: 125px;
    height: 35%;
    margin: 0 auto;
    margin-top: 20px;
}

.txt-art2{
    width: 90%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    color: rgb(100, 100, 100);
}

footer{
    width: 100%;
    height: 300px;
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(100, 100, 100);
    transition: 1s;
}

.font-purple{
    color: #6C19FF;
}

.titulos-gris{
    color: rgb(100, 100, 100)
}

@media screen and (max-width:1100px) {
    main{
        width: 100%;
        height: 2130px;
        background-color: rgb(13, 13, 13);
        padding-top: 10px;
        transition: 1s;
        }
    
    .sect-asid{
        width: 100%;
        height: 930px;
        display: block;
        background-color: rgb(13, 13, 13);
        justify-content: center;
        transition: 1s;
    }
    
    .article-1{
        width: 90vw;
        height: 760px;
        background-color: rgb(30, 30, 35);
        border-radius: 10px;
        transition: 1s;
        display: block;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }
    
    .img-art1{
        width: 95%;
        height: 370px;
        border-radius: 5px;
        margin: 0 auto;
        object-fit: cover;
        background-image: url(./img/9.png);
    }

    .txt-art1{
        width: 95%;
        height: 375px;
        text-align: center;
        margin: 0 auto;
        color: rgb(100, 100, 100);
    }

    aside{
        margin-top: 10px;
        width: 90vw;
        height: 150px;
        background-color: rgb(30, 30, 35);
        border-radius: 10px;
        transition: 1s;
    }
    
    .article-2{
        width: 90vw;
        height: 1180px;
        border-radius: 10px;
        transition: 1s;
        display: block;
    }

    .flex-art2{
        width: 95%;
        height: 370px;
        margin-top: 10px;
    }

    .img-art2{
        width: 130px;
        height: 35%;
        margin: 0 auto;
        margin-top: 20px;
    }

}